body {
	height: 100vh;
	width: 100%;
}
.navbar{
    background-color: transparent;
    position: relative;
}
#logo{
    width: auto;
    height: 50px;
     position: absolute;
    left: 50%;
    margin-left: -110px !important;  /* 50% of your logo width */
    display: block;
}
.phoneAlt .button{
    width: 100%;
    height:300px;
    font-size: 60px;
    color:white;
    background-color:#cc0000; 

}
#question .text-std{
    height: 400px;
    display: table;
    text-align: center;
    width: 100%;
    font-size:50px;

}
.countdown-container{
    text-align: center;
}
.countdown{
    width: 420px;
    display: inline-block;
}
#question .text-std span
{
    display: table-cell;
    vertical-align: middle;
}
.text-letter,
.text-logo,
.text-std,
.button{
    width: auto;
    height: auto;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.button.selected{
    background-color: #6a0e14; 
}
.button.true.showAnswer{
    background-color: green; 
}
.button.false.selected.showAnswer{
    background-color: red; 
}
.answer.true.showAnswer{
    background-color: green; 
}

text {
    font-family: monotype_bosisstd_medium;
    text-align: left;
    font-size: 24px;
    color: #ffffff;
}

.text-logo {
    color: #cd2a32;
    position: absolute;
    font-size: 30px;
}

.text-letter {
    font-size: 50px;
    text-align: center;
    margin: -5px;
    padding: 0;
}

#go-to-website{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    font-family: monotype_bosisstd_medium;
}
#backgroundImage {
    background-size:cover;
    background-image: url("https://www.skanetrafiken.se/globalassets/bakgrundsbilder/web2landet_mini.jpg");
}
.highcharts-background {
    opacity: 0;
}
.container-bottom {
    position: fixed;
    bottom: 40px;
    left: 0;
    padding: 0px;
    width: 100%;
}

#timer,
#question,
.answer {
    /*gradient background*/
    background-color: #cc0000;
    color:white;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#7E57C2), to(#4527A0));
    background: -webkit-linear-gradient(top, #7E57C2, #4527A0);
    background: -moz-linear-gradient(top, #7E57C2, #4527A0);
    background: -o-linear-gradient(top, #7E57C2, #4527A0);*/
    /*rounded corners*/

    border-radius: 50px;

    /*padding*/
    padding: 20px;
    margin: 10px;
    opacity: 0.85;
    height:15%;

}

#question {
       

}

#timer,
#question {
    font-size: 40px;
    text-align: center;
    min-height: 129px;
}

.container {
    width: inherit;
}

.img-background {
    position: fixed;
    background-color: rgba(159, 52, 52, 0.5);
    box-shadow: 0 0 10px 3px #7e0a0a;
    left: 50%;
    max-height: 450px;
    -webkit-transform: translateX(-50%);
}

#img {
    padding: 30px;
    max-height: inherit;
}

ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}


    ul li {
        display: inline-block;
        float: left;
        width:50%;
    }
.progress-bar {
    height: 20px;
    -webkit-transition: width .1s ease;
    -moz-transition: width .1s ease;
    -ms-transition: width .1s ease;
    -o-transition: width .1s ease;
    transition: width .1s ease;
    background: #e33a43;
}